<div class="grid-container">
<mat-card>
<mat-nav-list *ngIf='items'>
  <mat-list-item *ngFor='let item of items | async'  >
      <mat-icon matListIcon *ngIf='item?.icon'>{{item.icon}}</mat-icon>
     <a mat-line (click)='selected(item)'>  {{item.name.e_name}} - {{item.name.a_name}}</a>
     <button mat-icon-button color="warn" (click)='delete(item)' title='Delete'>
        <mat-icon>delete</mat-icon>
     </button>
     <mat-divider></mat-divider>
  </mat-list-item>
</mat-nav-list>
</mat-card>
<button mat-mini-fab color="warn" (click)='add()' title='Add' class='myfloat'><mat-icon>add</mat-icon></button>
</div>
<!--
<p-dialog [(visible)]="display" appendTo="body" class='dia'>
  <p-header>
      {{path}}
  </p-header>
  <ng-content></ng-content>
</p-dialog> -->
